<div fxLayout="row" fxLayoutAlign="center center" cdkDropListGroup>
    <div class="example-container">
        <h2>To do</h2>

        <div cdkDropList id="todo" [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)"
            (cdkDropListDropped)="onSorted($event)">
            <ng-container *ngIf="todoList$ |async as todo">
                <div class="example-box" *ngFor="let item of todo" (click)="onItemClick(item)" cdkDrag>{{item}}</div>
            </ng-container>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList id="done" [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)"
            (cdkDropListDropped)="onSorted($event)">
            <div class="example-box" *ngFor="let item of done" (click)="onItemClick(item)" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>

<div class="formGroup" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
    <div class="addForm" fxFill>
        <app-todo-form (todoData)="newTodo($event)" fxLayout="column center" fxLayoutGap="1rem"></app-todo-form>
    </div>
    <div class="editForm" fxFill>
        <app-todo-form [todo]="selectedTodoItem" (todoData)="updateTodo($event)" *ngIf="selectedTodoItem"
            fxLayout="column center" fxLayoutGap="1rem">
        </app-todo-form>
    </div>
</div>

<div>
    <span>
        {{todoList$|async|json}}
    </span>
</div>